header {
  background-image: url(../../img/header-bg.jpg);
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #fff;
  padding: 22% 0%; }
  header .btn {
    color: #ffffff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px; }

.navbar-header h1 {
  color: #fed136;
  font-family: "Kaushan Script","Helvetica Neue"; }

li {
  position: relative;
  display: inline-block; }

.intro-text .intro-lead {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px; }

.intro-heading {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 70px; }

.services {
  padding: 6%;

}
.services p{
  font-family: "Roboto";
  color:#777;
  font-size: 15px;
  line-height: 1.75;
}
.services h4{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}
  .services h6 {
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
  }
  .services h2 {
    font-size: 40px;
    font-weight: bolder;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px; 
  }
  .services .fa-shopping-cart, .services .fa-laptop, .services .fa-lock {
    font-size: 55px;
    background: #FED136;
    padding: 5%;
    border-radius: 50%;
    color: white; }
  .services .fa-lock {
    padding: 6% 9%; }
  .services .fa-shopping-cart {
    padding: 5% 6%; }

.portfolio {
  background: #F7F7F7;
  padding: 5%; 
}
.portfolio h2{
    font-size: 40px;
    font-weight: bolder;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}
  .portfolio .imagen {
    background: white;
    padding-bottom: 4%;
    margin: 5%; }
    .portfolio .imagen img {
      width: 100%; 
    }
  .portfolio h6{
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
  }
  .portfolio h4{
    font-family:"Montserrat";
    font-weight:900px;
  }
  .portfolio p{
    font-family:"Droid Serif";
    font-weight:30px;
    font-style: italic;
    color:grey;
    font-size: 16px;
  }
.amazing-team {
  background:  #F7F7F7;
  padding: 8%; }
  .amazing-team .team img {
    width: 60%;
    border-radius: 80%;
    border: 8px solid white; }
  .amazing-team .team .fa {
    margin: 3px;
    background: black;
    padding: 3%;
    border-radius: 50%;
    color: White;
    font-size: 18px; }
  .amazing-team .team .fa-facebook {
    padding: 3% 4%; }
.about{
  padding:5%;
}
.about h2{
   font-size: 40px;
    font-weight: bolder;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px
}
.about h5{
  font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}

.auspicio {
  padding: 3%; }
.amazing-team h2{
    font-size: 40px;
    font-weight: bolder;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px
}
.amazing-team h5{
  font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}
.amazing-team h4{
  font-family:"Montserrat";
    font-weight:bolder;
}
.amazing-team p{
  font-family:"Droid Serif",
}
.amazing-team .sit{
  padding-top:35%;
  color: #777;
  font-size: 18px;

}
.contacto {
  padding: 8%;
  background: #222222; 
}
.contacto h2{
    font-size: 40px;
    font-weight: bolder;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
    color:white;
}
.contacto h5{
    font-size: 16px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
    color:grey;
}
  .contacto .form-control {
    padding: 6%;
    margin-bottom: 3%; }
  .contacto textarea {
    width: 550px;
    height: 240px;
    border-radius: 5px; }
.contacto button{
    color: #ffffff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
.about hr{
    transform: rotate(90deg);
    width: 250px;
    margin: auto;
    height:100%;
    z-index:1
  }
  .about .circulo-about img{
    margin:auto;
    border-radius:50%;
  }
  .about .circulo-about{
    margin-bottom:50px;
    border-radius:100%;
    padding: 5px;
    border-radius: 100%;
    z-index:5
  }
  .about .circulo3{
    background-color: yellow;
    border-radius:100%;
    width:180px;
    padding:40px;
    border-radius: 100%;
    z-index:5;
  }
}
footer {
  padding: 2%; }
  footer span {
    padding: 4%;
    color: #FED136;
    font-weight: bolder; }
  footer .fa {
    margin: 3px;
    background: black;
    padding: 3%;
    border-radius: 50%;
    color: White;
    font-size: 18px; }
  footer .fa-facebook {
    padding: 3% 4%; }

